<!DOCTYPE html>
<html>

    <head>

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>

    </head>

    <body>
        <%= render :partial => "layouts/header_bar" %>
        <!-- Your site -->

        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-md-12">
              <% if flash[:notice] %>
                <button type="button" class="close" data-dismiss="alert">×</button>
                <div class="alert alert-dismissable alert-info">
                  <h4>Notice</h4>
                  <p><%= notice %></p>
                </div>
              <% end %>

              <% if flash[:alert] %>
                <button type="button" class="close" data-dismiss="alert">×</button>
                <div class="alert alert-dismissable alert-danger">
                  <h4>Warning</h4>
                  <p><%= alert %></p>
                </div>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <%= yield %>
            </div>
          </div>
        </div>
        <!-- Your site ends -->

        <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.2/js/material.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.2/js/ripples.js"></script>
        <script>
            $(document).ready(function() {
                console.log("ready to go again");
                $.material.init();
            });
        </script>

    </body>

</html>
